/* Importação da fonte do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;800&display=swap');

/* Estilos para o corpo do documento */
html {
   /* background-image: url(./Fotoo.jpeg);*/
   
    background-repeat:repeat;
    background-position: center center;
    margin: 0;
    height: 100vh;
    font-family: 'Noto Sans', sans-serif;
    height: 100vh;
    width: 100vw;
   }

button {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ccc;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background-color: #aaa;
}
form input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}
